
/* toc title */
nav#TOC h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* toc content */
nav#TOC ul li a {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* toc right location */
nav#TOC {
    margin-top: 45px;
    margin-left: 45px; 
}

/* text mark */
.obj {
  background-color: #f2f2f2;    /* 淡灰底 */
  color: #333333;    /* 深灰文字 */
  font-family: monospace;    /* 等寬字體，強調技術感 */
  font-size: 0.95em;
  padding: 2px 5px;
  border-radius: 3px;
}

.hl {
  color: #cc6600;
}

.date-blue {
  background-color: #f0f4ff;
  color: #1a3e75;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 500;
  
}

.date-orange {
  background-color: #fff4e5;    /* 淡橘底 */
  color: #c75000;    /* 橘棕色字 */
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 500;
}
