
nav#TOC h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

nav#TOC ul li a {
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav#TOC {
    margin-top: 45px;
    margin-left: 45px; 
}
